<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/styles.css" rel="stylesheet" type="text/css">
    <title><%= team.TeamName %></title>
</head>
<body>
  <h1><%= team.TeamName %></h1>
  <ul>
    <li><strong><%= team.Conference %></strong>  Conference</li>
    <li><strong>Players</strong>: <%= team.Captain %> and <%= team.Teammate %></li>
    <li><strong>Location</strong>: <%= team.City %>, <%= team.State %></li>
    <li><strong>Record</strong>: <%= team.Wins %>-<%= team.Loss %></li>
  </ul>
  
</body>
</html>
