<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teams</title>
</head>
<body>
  <h1><%= team.TeamName %></h1>
  <h2><%= team.Conference %> Conference</h2>
  <p><strong>Players</strong>: <%= team.Captain %> and <%= team.Teammate %></p>
  <p><strong>Location</strong>: <%= team.City %>, <%= team.State %></p>
  <p><strong>Record</strong>: <%= team.Wins %>-<%= team.Loss %></p>
</body>
</html>
