<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS Demo</title>
</head>
<body>
  <h1><%= name %></h1>
  <h2><%= conf %> Conference</h2>
  <p><strong>Players</strong>: <%= captain %> and <%= teammate %></p>
  <p><strong>Location</strong>: <%= city %>, <%= state %></p>
  <p><strong>Record</strong>: <%= wins %>-<%= loss %></p>
</body>
</html>
