<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Details</title>
</head>
<body>
  <h1><%= game.date %></h1>
  <ul>
    <li>Home: <%= game.homeTeam %> <strong><%= game.homeScore %></strong></li>
    <li>Away: <%= game.awayTeam %> <strong><%= game.awayScore %></strong></li>
    <li>Winner: <strong><%= game.winner %></strong></li>
  </ul>
  
</body>
</html>
